{% comment %} Hier wordt de footer ingeladen. {% endcomment %}
{% render 'partials/head.liquid' %}
<main>
  <div class="grid-giver">
    <div class="grid-receiver">
      <div class="content-wrapper">

        {% comment %} Hier wordt de aside ingeladen. Deze bevat de avatar, titel en navigatie buttons {% endcomment %}
        {% render 'partials/aside.liquid' person: person, custom: custom %}

        <div class="content-dynamic-container">
          <div class="wrapper-container">

            {% comment %} Hier wordt de werkervaring gedeelte ingeladen. Deze bevat een tabel {% endcomment %}
            {% render 'partials/werkervaring.liquid' person: person, custom: custom %}
        
            {% comment %} Hier wordt de opleidingen gedeelte ingeladen. Deze bevat een tabel {% endcomment %}
            {% render 'partials/opleidingen.liquid' person: person, custom: custom %}
            
            {% comment %} Hier wordt het hobby's gedeelte ingeladen. Deze bevat een tekst en wat eventueel afbeeldignen per hobby. {% endcomment %}
            {% render 'partials/hobbys.liquid' person: person, custom: custom %}

            {% comment %} Hier wordt het feitjes gedeelte ingeladen. Hier staan wat feitjes over mij en een muziekplayer. {% endcomment %}
            {% render 'partials/feitjes.liquid' person: person, custom: custom %}

          </div>
        </div>
      </div>

      {% comment %} De sidebar bevat social media links in de look van buttons {% endcomment %}
      {% render 'partials/sidebar.liquid' %}
      
    </div>
  </div>
</main>
{% comment %} Hier wordt de footer ingeladen. {% endcomment %}
{% render 'partials/foot.liquid' %}
