{% comment %} Hier wordt de footer ingeladen. {% endcomment %}
{% render 'partials/head.liquid' %}
<main>
  <div class="grid-giver">
    <div class="grid-receiver">
      <div class="content-wrapper">

        {% comment %} Hier wordt de aside ingeladen. Deze bevat de avatar, titel en navigatie buttons {% endcomment %}
        {% render 'partials/aside.liquid' person: person, custom: custom %}

        <div class="content-dynamic-container">
          <div class="wrapper-container">

            {% comment %} Hier wordt de werkervaring gedeelte ingeladen. Deze bevat een tabel {% endcomment %}
            {% render 'partials/werkervaring.liquid' person: person, custom: custom %}
        
            {% comment %} Hier wordt de opleidingen gedeelte ingeladen. Deze bevat een tabel {% endcomment %}
            {% render 'partials/opleidingen.liquid' person: person, custom: custom %}
            
            {% comment %} Hier wordt het hobby's gedeelte ingeladen. Deze bevat een tekst en wat eventueel afbeeldignen per hobby. {% endcomment %}
            {% render 'partials/hobbys.liquid' person: person, custom: custom %}

            {% comment %} Hier wordt het feitjes gedeelte ingeladen. Hier staan wat feitjes over mij en een muziekplayer. {% endcomment %}
            {% render 'partials/feitjes.liquid' person: person, custom: custom %}

          </div>
        </div>
      </div>

      {% comment %} De sidebar bevat social media links in de look van buttons {% endcomment %}
      <aside id="sidebar">
        <div class="wrapper">
          <div class="svg-container">
            <svg class="closed" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            <svg class="opened hidden" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
          </div>
          <div class="contentbar">
            <div class="contentbar-inner">
              <div class="icon-container linkedin">
                <a target="_blank" href="https://www.linkedin.com/in/dylan-van-nierop-50458a1b8/">
                  <svg class="icon icon-linkedin" width="20" viewBox="0 0 20 20">
                    <path d="M19.169 11.781c0-1.817-0.431-3.156-1.294-4.019-0.42-0.424-0.922-0.757-1.476-0.979s-1.147-0.329-1.743-0.314c-0.842-0.062-1.678 0.175-2.363 0.669-0.452 0.36-0.851 0.781-1.188 1.25v0.050c-0.003-0.008-0.005-0.016-0.005-0.025s0.002-0.017 0.005-0.025v-1.638h-3.925c0 0.269 0 1.031 0 2.306s0 2.606 0 4.019c0 1.412 0 3.244 0 5.5h3.925v-6.606c-0.009-0.173-0.009-0.346 0-0.519 0.009-0.152 0.040-0.301 0.094-0.444 0.16-0.375 0.404-0.709 0.713-0.975 0.36-0.315 0.828-0.481 1.306-0.463 0.299-0.026 0.601 0.029 0.871 0.16s0.501 0.333 0.666 0.583c0.332 0.59 0.492 1.261 0.462 1.938v6.306h3.925l0.025-6.775zM1.069 18.556v-11.806h3.931v11.806h-3.931zM4.644 1.625c0.393 0.384 0.618 0.907 0.625 1.456 0.001 0.272-0.054 0.541-0.161 0.79s-0.265 0.474-0.464 0.66c-0.215 0.21-0.47 0.374-0.751 0.482s-0.58 0.156-0.881 0.143c-0.291 0.010-0.582-0.040-0.853-0.148s-0.517-0.27-0.722-0.477c-0.19-0.19-0.34-0.417-0.44-0.666s-0.151-0.516-0.147-0.784c-0.002-0.273 0.052-0.543 0.16-0.794s0.266-0.476 0.465-0.662c0.429-0.386 0.992-0.59 1.569-0.569 0.291-0.017 0.583 0.025 0.858 0.122s0.527 0.25 0.742 0.446z"></path>
                  </svg>
                </a>
              </div>
              <div class="icon-container instagram">
                <a target="_blank" href="https://www.instagram.com/dylannierop/">
                  <svg class="icon icon-instagram" width="20" viewBox="0 0 32 32">
                    <path d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z"></path>
                    <path d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z"></path>
                    <path d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
                  </svg>
                </a>
              </div>
              <div class="icon-container github">
                <a target="_blank" href="https://github.com/DivaniNL">
                  <svg class="icon icon-github" width="20" viewBox="0 0 32 32">
                    <path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
      
    </div>
  </div>
</main>
{% comment %} Hier wordt de footer ingeladen. {% endcomment %}
{% render 'partials/foot.liquid' %}
